.tv-card {
    height: 230px;
    margin: 10px;
    position: relative;
    
}

.tv-card-image {
    max-height: 200px;
    max-width: 100px;
}

.tv-card-name {
   
    min-height: 25px;
    max-height: 50px;
    line-height: normal;
}

.tv-card-description {
    height: 130px;
    max-height: 130px;

}

.tv-card-condition {
    position: absolute;
    height: 20px;
    max-height: 20px;
    bottom: 10px;
    right: 10px;
    
}

.tv-card:hover {
    cursor: pointer;
    box-shadow: 0px 12px 30px 0px gray;
    transform: scale(1.1,1.1);
    transition: all 800ms;
}