.tv-card {
    height: 230px;
}

.tv-card-image {
    height: 200px;
}

.tv-card-name {
    height: 25px;
}

.tv-card-description {
    height: 130px;
}

.tv-card-condition {
    height: 25px;
}

.tv-card:hover {
    cursor: pointer;
    box-shadow: 0px 12px 30px 0px gray;
    transform: scale(1.1,1.1);
    transition: all 800ms;
}